{% extends 'base/base.admin.html.twig' %}

{% block sidebar %}
    {% include 'components/user_sidebar.html.twig' %}
{% endblock %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h1>Changer le mot de passe</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.currentPassword) }}
            {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.currentPassword) }}
        </div>

        <div class="form-group">
            {{ form_label(form.newPassword) }}
            {{ form_widget(form.newPassword, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.newPassword) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
